.contactCont {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  background: #fff;
  width: 60%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5); }

#contactpageTitle {
  text-align: center; }
  #contactpageTitle .border {
    margin: 0 auto;
    width: 350px; }

.socialMediaTitle .border {
  width: 220px; }

.contactFormTitle {
  margin-bottom: 20px; }
  .contactFormTitle .border {
    width: 250px; }

.contactPageContainer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.socialIcons {
  width: 50px;
  height: 50px; }

.socialMediaLinks {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 30%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0px; }

.socialIconsContainer ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  padding: 0px; }

.contactForm {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
  margin: 0 auto; }

.input {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 10px;
  border-bottom: 2px solid #bdbdbd; }
  .input label {
    margin-bottom: 10px;
    font-size: 15px; }

textarea:focus, input:focus {
  outline: none; }

.inputText, textarea {
  border-style: none;
  background: #eeeeee;
  padding: 15px;
  border-radius: 3px; }

.input.active {
  border-bottom: 2px solid #FC5749; }

.submit {
  background: #FC5749;
  border-color: transparent;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  color: #fff;
  font-size: 15px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer; }

.submit:active {
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.75); }

@media (max-width: 600px) {
  .contactCont {
    width: 100%; }
  .contactForm,
  .socialMediaLinks {
    width: 90%; }
  .socialIconsContainer ul {
    width: 100%; } }

html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  background: #EFF6FF; }

h1, h2, h3, h4, li, .headerSubTitle, span {
  letter-spacing: 2px;
  font-family: 'Raleway'; }

p, label {
  font-family: 'Inconsolata'; }

li {
  list-style-type: none;
  text-decoration: none; }

a,
a:visited {
  color: inherit;
  text-decoration: none; }

.nav {
  height: 40%; }

.nav ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0px;
  padding: 0px;
  color: #fff; }
  .nav ul li {
    margin: 20px;
    font-size: 20px;
    padding-bottom: 3px; }
  .nav ul li::after {
    display: block;
    background: transparent;
    transition: width .2s ease, background-color .2s ease;
    margin: auto;
    height: 3px;
    width: 0px;
    content: ''; }
  .nav ul li:hover::after {
    width: 100%;
    background: #FC5749; }

.mobNav, .mobNavBtnDiv {
  display: none; }

.headerBackground {
  width: 100%;
  height: 100%;
  background-image: url(images/landscape.jpg);
  background-size: cover;
  background-position: center;
  border-bottom: 4px solid #FC5749; }

.header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  height: 250px; }

.headerTitle {
  font-weight: bold;
  font-size: 3em; }

.headerTitle,
.headerSubTitle {
  -webkit-animation: FrontScaleIn 400ms linear 1;
  animation: FrontScaleIn 400ms linear 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  text-align: center;
  color: #fff;
  margin: 0px; }

.headerSubTitle {
  font-size: 1.2em; }

.letsWorkBtnDiv {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.letsWorkBtn {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background: #FC5749;
  border-color: transparent;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
  -webkit-animation: FrontScaleIn 400ms linear 500ms 1;
  animation: FrontScaleIn 400ms linear 500ms 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0; }
  .letsWorkBtn span {
    color: #fff;
    font-size: 15px; }

@-webkit-keyframes FrontScaleIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes FrontScaleIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@media (max-width: 600px) {
  .headerBackground {
    background-position: right; }
  .headerTitle {
    font-size: 2.5em; }
  .nav, .mobNav {
    display: none; }
  .mobNav {
    background: #fff;
    position: fixed;
    top: 15%;
    z-index: 1;
    color: #3d3d3d;
    font-size: 1.5em;
    width: 100%; }
  .mobNav ul {
    margin: 0px;
    padding: 0px; }
  .mobNav li {
    padding: 20px; }
  .mobNavBtnDiv {
    display: block;
    height: 40%; }
  .mobNavBtn {
    width: 85px;
    height: 65px;
    margin-top: 10px; }
  .mobNavBtn:hover {
    cursor: pointer; } }
