@import '_mixins'

// General Styles
html, body
  padding: 0px
  margin: 0px
  height: 100%


h1, h2 ,h3, h4, li, .headerSubTitle, span
  letter-spacing: 2px
  font-family: 'Montserrat'

p, label
  font-family: 'Lato'

li
  list-style-type: none
  text-decoration: none

a,
a:visited
  color: inherit
  text-decoration: none

// Navigation
.nav
  height: 40%

.nav ul
  display: flex
  flex-direction: row
  justify-content: flex-end
  margin: 0px
  padding: 0px
  color: #fff
  li
    margin: 20px
    font-size: 20px
    padding-bottom: 3px
  li::after
    display: block
    background: transparent
    transition: width .2s ease, background-color .2s ease
    margin: auto
    height: 3px
    width: 0px
    content: ''
  li:hover::after
    width: 100%
    background: #FC5749

// Mobile Navigation
.mobNav, .mobNavBtnDiv
  display: none

// Header Title, Sub Title and Action Button
.headerBackground
  width: 100%
  height: 100%
  background-image: url(../images/landscape.jpg)
  background-size: cover
  background-position: center
  border-bottom: 4px solid #FC5749
  // position: fixed


.header
  display: flex
  flex-direction: column
  justify-content: space-between
  align-content: space-between
  height: 250px

.headerTitle
  font-weight: bold
  font-size: 3em

.headerTitle,
.headerSubTitle
  animation: FrontScaleIn 400ms linear 1
  animation-fill-mode: forwards
  opacity: 0
  text-align: center
  color: #fff
  margin: 0px

.headerSubTitle
  font-size: 1.2em

.letsWorkBtnDiv
  display: flex
  justify-content: center

.letsWorkBtn
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  background: #FC5749
  border-color: transparent
  border-radius: 5px
  width: 200px
  height: 60px
  color: #fff
  cursor: pointer
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.50)
  animation: FrontScaleIn 400ms linear 500ms 1
  animation-fill-mode: forwards
  opacity: 0
  outline: none
  span
    color: #fff
    font-size: 15px

.siteFooter
    display: flex
    justify-content: center
    align-items: center
    background: #FC5749
    height: 60px
    color: #fff

// Keyframes
@keyframes FrontScaleIn
    0%
      transform: scale(0)
      opacity: 0

    100%
      transform: scale(1)
      opacity: 1

// Smaller Viewport (Mobile)

@include bp(baby-bear)

  .headerBackground
    background-position: right

  .headerTitle
    font-size: 2.5em

  .nav,.mobNav
    display: none

  .mobNav
    background: #fff
    position: fixed
    top: 15%
    z-index: 1
    color: #3d3d3d
    font-size: 1.5em
    width: 100%

  .mobNav ul
    margin: 0px
    padding: 0px

  .mobNav li
    padding: 20px

  .mobNavBtnDiv
    display: block
    height: 40%

  .mobNavBtn
    width: 85px
    height: 65px
    margin-top: 10px

  .mobNavBtn:hover
    cursor: pointer
