html, body {
  padding: 0px;
  margin: 0px;
  height: 100%; }

h1, h2, h3, h4, li, .headerSubTitle, span {
  letter-spacing: 2px;
  font-family: 'Montserrat'; }

p, label {
  font-family: 'Lato'; }

li {
  list-style-type: none;
  text-decoration: none; }

a,
a:visited {
  color: inherit;
  text-decoration: none; }

.nav {
  height: 40%; }

.nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0px;
  padding: 0px;
  color: #fff; }
  .nav ul li {
    margin: 20px;
    font-size: 20px;
    padding-bottom: 3px;
    cursor: pointer; }
  .nav ul li::after {
    display: block;
    background: transparent;
    -webkit-transition: width .2s ease, background-color .2s ease;
    -o-transition: width .2s ease, background-color .2s ease;
    transition: width .2s ease, background-color .2s ease;
    margin: auto;
    height: 3px;
    width: 0px;
    content: ''; }
  .nav ul li:hover::after {
    width: 100%;
    background: #FC5749; }

.mobNav, .mobNavBtnDiv {
  display: none; }

.headerBackground {
  width: 100%;
  height: 100%;
  background-image: url(../images/landscape.jpg);
  background-size: cover;
  background-position: center;
  border-bottom: 4px solid #FC5749; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  height: 250px; }

.headerTitle {
  font-weight: bold;
  font-size: 3em; }

.headerTitle,
.headerSubTitle {
  -webkit-animation: FrontScaleIn 400ms linear 1;
  animation: FrontScaleIn 400ms linear 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  text-align: center;
  color: #fff;
  margin: 0px; }

.headerSubTitle {
  font-size: 1.2em; }

.letsWorkBtnDiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.letsWorkBtn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background: #FC5749;
  border-color: transparent;
  border-radius: 5px;
  width: 200px;
  height: 60px;
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
  -webkit-animation: FrontScaleIn 400ms linear 500ms 1;
  animation: FrontScaleIn 400ms linear 500ms 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  outline: none; }
  .letsWorkBtn span {
    color: #fff;
    font-size: 15px; }

.aboutContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background: #FC5749;
  color: #fff; }

.aboutHeaderContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px; }

.aboutHeaderText {
  margin-left: 10px; }

.headShotImg {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 3px solid #FC5749; }

.aboutBodyContainer {
  width: 40%;
  margin-right: 20px; }

.aboutBodyText {
  font-size: 1.1em; }

.iconsList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px; }

.iconTitle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.skillsIcon {
  width: 100px;
  height: 100px;
  margin: 10px; }

.previousWorkTitle {
  margin-left: 10px; }

.previousWorkImgContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 0;
  -webkit-flex: 0;
  -ms-flex: 0;
  flex: 0;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 0px; }

.previousWorkImg {
  width: 325px;
  height: 200px;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .previousWorkImg:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.5); }

.previousWorkText {
  width: 325px; }

.previousWorkItem {
  margin-left: 10px; }

.contactFormContainer {
  background: #FC5749;
  color: #fff; }
  .contactFormContainer h3 {
    margin-bottom: 5px; }

.contactForm {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.inputField {
  border: none;
  text-decoration: none;
  outline: none;
  width: 300px;
  height: 25px;
  padding: 5px;
  border-radius: 3px; }

.textAreaInput {
  height: 150px; }

.submitBtnContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
  width: 300px; }

.submitBtn {
  background: #FC5749;
  border: none;
  color: white;
  width: 100px;
  height: 50px;
  font-size: 1em;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
  outline: none;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  -o-transition: transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease; }

.submitBtn:hover {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95); }

.followMeContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .followMeContainer ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
    margin: 0px; }
    .followMeContainer ul li {
      margin-left: 30px;
      cursor: pointer; }

.socialSvg {
  width: 60px;
  height: 60px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease; }

.socialSvg:hover {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15); }

.siteFooter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #FC5749;
  height: 60px;
  color: #fff; }

@-webkit-keyframes FrontScaleIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes FrontScaleIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@media (max-width: 1000px) {
  .aboutBodyContainer {
    width: 60%; } }

@media (max-width: 500px) {
  .headerBackground {
    background-position: right; }
  .headerTitle {
    font-size: 2.5em; }
  .nav, .mobNav {
    display: none; }
  .mobNav {
    background: #fff;
    position: fixed;
    top: 15%;
    z-index: 1;
    color: #3d3d3d;
    font-size: 1.5em;
    width: 100%; }
  .mobNav ul {
    margin: 0px;
    padding: 0px; }
  .mobNav li {
    cursor: pointer;
    padding: 20px; }
  .mobNavBtnDiv {
    display: block;
    height: 40%; }
  .mobNavBtn {
    width: 85px;
    height: 65px;
    margin-top: 10px; }
  .mobNavBtn:hover {
    cursor: pointer; }
  .aboutContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .aboutHeaderContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    margin-top: 0px; }
  .headShotImg {
    width: 100%;
    height: auto;
    border-radius: 0%;
    border: none; }
  .aboutBodyContainer {
    width: 85%;
    margin-right: 0px; }
  .previousWorkImg {
    width: 95%; } }
